doctype html

html
    include ../../../includes/header.pug

    body
        div.logo-container
            img(src=logoUrl)

        div.container
            div.content
                div.title Novo convite

                div.body
                    | Um convite para o email 
                    b #{email} 
                    | foi requisitado.